@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "secular one", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: rgb(87, 80, 80);
}

p {
  margin-bottom: 0.5em;
}

a {
  color: #fe1212;
  text-decoration: none;
  font-family: "Rakkas", cursive;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar-brands {
  font-size: 2rem;
  color: #fff;
  font-family: "Lobster", cursive;
  background-color: none;
}

.navbar-brands:hover {
  color: #fff;
  z-index: 2;
  text-shadow: 0 0 10px #000, 0 0 14px #000, 0 0 18px #000, 0 0 22px #000,
    0 0 26px #000, 0 0 30px #000;
  transition: all 0.3s ease-in-out;
  animation: shake 0.6s;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-10px, 0);
  }
  20% {
    transform: translate(10px, 0);
  }
  30% {
    transform: translate(-10px, 0);
  }
  40% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(-5px, 0);
  }
  60% {
    transform: translate(5px, 0);
  }
  70% {
    transform: translate(-2px, 0);
  }
  80% {
    transform: translate(2px, 0);
  }
  90% {
    transform: translate(-1px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
  text-transform: uppercase;
}
.nav-link:hover,
.nav-link:focus {
  color: rgb(34, 222, 222);
}
.search {
  height: 40px;
  width: 1000%;
  border-radius: 60px;
  outline: none;
  margin-right: -8px;
  font-family: "Rubik", sans-serif;
  border: 2px solid rgb(5, 205, 152);
}
.btn0 {
  height: 40px;
  width: 500%;
  outline: none;
  border: none;
  background: rgb(5, 145, 205);
  color: white;
  font-family: "Lobster", cursive;
  border-radius: 70px;
  font-weight: 700;
}

.main {
  position: relative;
  isolation: isolate;
  padding: 121px 0;
  background-size: cover;
}
.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 30%);
  backdrop-filter: blur(9px);
  z-index: -1;
}
.main img {
  max-height: 469px;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid white;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.navbar .nav-link.active {
  color: rgb(34, 222, 222);
}

.navbar-brands img,
.navbar-brands {
  max-width: 100%;
  height: 40px;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}

.nav li {
  display: inline-block;
  position: relative;
}

.navbar a:not(.navbar-brands):before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: rgb(34, 222, 222);
  top: 0;
  width: 0%;
  transition: all ease-in-out 150ms;
}
.navbar a:hover::before,
.navbar a.active::before {
  width: 100%;
}

.uk-flex {
  height: 40px;
  padding: 7px;
  background-color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uk-flex:hover {
  transform: scale(1.1);
}
.uk-flex a {
  color: rgb(0, 0, 0);
  font-family: "Secular one";
  font-weight: 700;
}

.buy-bike-parts:hover {
  text-decoration: underline;
}

h2 {
  font-family: Rakkas, cursive;
}
.banner-content {
  background-color: rgba(0 0 0 / 30%);
  border: 3px solid white;
  padding: 50px 0;
  backdrop-filter: blur(5px);
  height: 100%;
  border-radius: 20px;
}

@media (max-width: 767.98px) {
  .collapse {
    background-color: #000;
  }
}

.banner-content1 {
  padding: 15%;
  text-align: center;
  color: wheat;
}

.btn1 {
  height: 40px;
  width: 10%;
  outline: none;
  border: none;
  background: white;
  color: rgb(172, 98, 45);
  font-weight: 600;
  font-family: "Secular One", sans-serif;
  border-radius: 10px;
  transition: all 0.24s ease-in-out;
  margin: 0 auto;
}

.btn1:hover {
  transform: scale(1.05);
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-body {
  flex-grow: 1;
}

.card:hover {
  box-shadow: 11px -7px 34px 16px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 11px -7px 34px 16px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 11px -7px 34px 16px rgba(0, 0, 0, 0.7);
  transition: 0.4s;
}
.card .card-body {
  text-align: center;
}
.card .img-fluid {
  max-height: 150px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  margin-bottom: 40px;
}
.card:hover .img-fluid {
  transform: scale(1.1);
}

.form-control {
  border-radius: 10px;
}
h3 {
  color: rgba(255, 255, 255, 0.708);
  font-family: "rakkas", cursive;
  line-height: 200%;
}

h4 {
  color: rgba(255, 255, 255, 0.708);
  font-family: "Lobster", cursive;
  line-height: 170%;
}

h4 span {
  font-family: "Rakkas", cursive;
}

footer {
  color: white;
  padding: 5%;
  font-size: 25px;
  text-align: center;
}

.footerico {
  margin-right: 10px;
  max-width: 70px;
}

.fa-brands {
  transition: all 0.24s ease-in-out;
  padding: 5px;
  margin: 18px 0;
}

.fa-brands:hover {
  transform: scale(1.09);
}

.nav-item {
  cursor: pointer;
  transition: all 0.24s ease-in-out;
}

.nav-item:hover {
  transform: scale(1.08);
}

h4 span {
  font-family: "Rakkas", cursive;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar a {
  position: relative;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 500;
  color: white;
  font-family: "Rakkas", cursive;
  font-size: 20px;
}

.navbar a::after {
  content: " ";
  position: absolute;
  width: 100%;
}

.navbar .btnlogin-popup {
  width: 130px;
  height: 45px;
  background: transparent;
  outline: none;
  border: 2px solid #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 200;
  font-size: 22px;
  margin-left: 40px;
  font-family: "Rakkas";
  transition: all 0.2s ease-in-out;
}

.navbar .btnlogin-popup:hover {
  background-color: #222222;
  transform: scale(1.05);
  color: #ffffff;
  font-weight: 600;
  box-shadow: 0 0 10px #000000;
}

.navbar .user-btn {
  width: 130px;
  height: 45px;
  background: transparent;
  outline: none;
  border: 2px solid #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 200;
  font-size: 22px;
  color: #fff;
  margin-left: 20px;
  display: flex;
  align-items: center;
  font-family: "Rakkas";
  transition: all 0.2s ease-in-out;
}
.navbar .user-btn:hover {
  background-color: #222222;
  transform: scale(1.05);
  color: #ffffff;
  font-weight: 300;
  box-shadow: 0 0 10px #000000;
}

.user-btn {
  background-color: rgba(87, 80, 80, 0.7);
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  background-color: rgba(87, 80, 80, 0.7);
  color: #ffffff;
  border: none;
  padding: 0;
  margin-top: 9px;
}

.dropdown-item {
  padding: 8px 75px;
  font-weight: bold;
  color: #ffffff;
  background: #222222;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #222222;
  color: aquamarine;
}
.wrapper {
  display: none;
  position: fixed;
  left: 50%;
  top: 584%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 460px;
  background: black;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: 0.5 ease-in-out;
}

.wrapper.active {
  height: 500px;
  display: flex;
  box-shadow: 10px 10px 50px 100vmax rgba(0 0 0 / 80%);
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  padding-top: 60px;
  padding-left: 70px;
  font-size: 2em;
  color: #f8f9fa;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #f8f9fa;
  background: transparent;
  margin-bottom: 20px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #f8f9fa;
  font-weight: 400;
  pointer-events: none;
  background: transparent;
  transition: all 0.5s ease-in-out;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.2em;
  font-family: "rakkas";
  color: #f8f9fa;
  font-weight: 200;
  padding: 5px 20px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #f8f9fa;
  line-height: 57px;
}
.input-box .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #f8f9fa;
  font-size: 18px; /* Adjust the icon size as needed */
}

.input-box .icon ion-icon {
  vertical-align: middle;
}
.remember-forget {
  font-size: 0.9em;
  color: #f8f9fa;
  font-weight: 200;
  margin-top: -15 0 15;
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 51%;
  height: 35px;
  margin-top: -35px;
  margin-left: 150px;
  background: #162938;
  font-weight: 200;
  font-family: "Rakkas";
  border: none;
  border-radius: 11px;
  cursor: pointer;
  font-size: 1em;
  outline: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  font-weight: 400;
  font-size: 1rem;
  background-color: #2469ad;
  font-family: "rakkas";
}

.login-register {
  font-size: 0.9rem;
  color: #f8f9fa;
  text-align: center;
  font-weight: 300;
  margin: 30px 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-register p a {
  color: #f8f9fa;
  text-decoration: none;
  font-weight: 400;
  font-family: "Rakkas";
  font-size: medium;
  transition: all 0.13s ease-in-out;
}

.login-register p a:hover {
  text-decoration: underline;
  color: rgb(34, 222, 222);
  font-family: "rakkas";
  transform: scale(1.5);
}

.icon-close {
  position: absolute;
  top: 6px;
  right: 7px;
  width: 40px;
  height: 40px;
  background: #2469ad;
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  font-weight: bolder;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}
.icon-close:hover {
  transform: scale(1.09);
  background-color: red;
}
.icon-inner:hover {
  font-weight: bolder;
  font-size: 9em;
}
.loginico {
  width: 20%;
  height: 20%;
  margin-left: 21%;
  margin-top: -26%;
}

.registerico {
  width: 18%;
  margin-left: 30px;
  margin-top: -80px;
}

.regbtn {
  width: 100%;
  height: 45px;
  margin: 12px 0 -15px;
  background: #162938;
  font-weight: 100;
  font-family: "Rakkas";
  border: none;
  border-radius: 11px;
  cursor: pointer;
  font-size: 1em;
  outline: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.26s ease-in-out;
}
.regbtn:hover {
  transform: scale(1.02);
  font-weight: 300;
  font-size: 1.1em;
  background: #2469ad;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-box {
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: -1px 0 5px;
}

.show-alerts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18vh;
  width: 100%;
}

.blogico {
  border-radius: 20px;
  margin-top: 80px;
}

.style-blogs {
  color: #ff41a3;
  font-size: 2.2rem;
  font: 200;
}

.style-blogs:hover {
  text-decoration: underline;
  font-weight: 900;
  color: beige;
}
